# History files
.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# targets data
_targets/

# Ignore data file types
**.feather
**.rds

# Other
**.DS_Store

# Workflow-specific filepaths
4_compile_sites/in/*
4_compile_sites/mid/*
4_compile_sites/out/*
4_compile_sites/nhd/*

5_siteSR_stack/mid/*
5_siteSR_stack/down/*
5_siteSR_stack/run/*
5_siteSR_stack/out/*

# Python environment
env/*

# Scratch files
scratch/*
