# History files
.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# Data
_targets/

# Ignore data file types
**.feather
**.rds

# Other
**.DS_Store

# Workflow-specific filepaths
4_compile_sites/in/*
6_siteSR_stack/mid/*
6_siteSR_stack/down/*

# Python environment
env/*
